{
    "printWidth": 150,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "quoteProps": "consistent"
}
